@page "/dog"
@inherits DogProfileBase

<div class="container">
  <div class="row justify-content-center">
    <div class="col-auto">
      <h1>Dog Profile</h1>
    </div>
  </div>
  <div class="row justify-content-start mt-1">
    <div class="col-6">
      <EditForm Model="Model" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group">
          <label for="exampleInputPassword1">Name</label>
          <RadzenTextBox Style="display: block;" @bind-Value="Model.Name" />
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Adopted</label>
          <RadzenDatePicker Style="display: block;" @bind-Value="Model.AdoptedDate" DateFormat="d" />
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Birthday</label>
          <RadzenDatePicker Style="display: block;" @bind-Value="Model.Birthdate" DateFormat="d" />
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Gender</label>
          <RadzenDropDown AllowClear="true" TValue="int"
                          Data="@Genders"
                          TextProperty="Name" ValueProperty="Value" Style="display: block;" @bind-Value="GenderValue" Change="@(args => Change(args))" />
        </div>
        <button type="submit" class="btn btn-primary mt-2 mb-2">Update</button>
      </EditForm>
    </div>
  </div>
  <div class="row justify-content-start mt-2">
    <div class="col-8">
      <div class="form-group">
        <label for="exampleInputEmail1" style="margin-right: 5px;">Created on <b>@Model.Created?.ToString("MM/dd/yy h:mm tt")</b></label> |
        <label for="exampleInputEmail1" style="margin-left: 5px;">Modified on <b>@Model.Modified?.ToString("MM/dd/yy h:mm tt")</b></label>
      </div>
    </div>
  </div>
</div>
