@page "/Food"
@inherits FoodBase
@using IModel = Models.Shared.FoodModel

<div class="container">
  <div class="row justify-content-center">
    <div class="col-auto">
      <h1>Incident</h1>
    </div>
  </div>
  <div class="row justify-content-start">
    <div class="col-auto">
      <button type="button" class="btn btn-outline-primary btn-md" @onclick="AddData">ADD DATA</button>
    </div>
  </div>
  @if (ShowEditData)
  {
    <div class="row justify-content-start mt-1">
      <div class="col-12">
        <EditForm Model="Model" OnValidSubmit="HandleValidSubmit">
          <DataAnnotationsValidator />
          <ValidationSummary />
          <div class="row justify-content-start mt-1">
            <div class="col-6">
              <div class="form-group">
                <label for="exampleInputEmail1">Amount In Ounces</label>
                <RadzenNumeric TValue="decimal" @bind-Value="Model.AmountInOunces" Placeholder="Enter or clear value" Style="display: block;" />
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Frequency Per Day</label>
                <RadzenNumeric TValue="int" @bind-Value="Model.FrequencyPerDay" Placeholder="Enter or clear value" Style="display: block;" />
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary mt-2 mb-2">Update</button>
          <button type="button" class="btn btn-secondary mt-2 mb-2" @onclick="CancelEditData">Cancel</button>
        </EditForm>
      </div>
    </div>
  }
  @if (!ShowEditData)
  {
    <hr />
    <div class="row justify-content-start mt-1">
      <div class="col-12">
        <h3>Data</h3>
        <RadzenGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowPaging="true" PageSize="4"
                    AllowSorting="true" Data="@FoodModels" TItem="IModel">
          <Columns>
            <RadzenGridColumn Filterable="false" Sortable="false" TItem="IModel" Width="125px" Property="FoodId.Value" Title="Food Id" />
            <RadzenGridColumn TItem="IModel" Property="AmountInOunces" Title="Amount In Ounces" />
            <RadzenGridColumn TItem="IModel" Property="FrequencyPerDay" Width="125px" Title="Frequency Per Day" />
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  }
</div>
