@page "/"

<div class="container">
  <div class="row justify-content-center">
    <div class="col-auto">
      <h1>Dashboard</h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <NavLink href="dog" class="col-5 dashboard-box" style="margin-bottom: 20px;">
      <h3><i class="fas fa-dog"></i> Profile</h3>
    </NavLink>
    <NavLink href="health" class="col-5 dashboard-box" style="margin-bottom: 20px; margin-left: 20px;">
      <h3><i class="fas fa-heartbeat"></i> Health</h3>
    </NavLink>
  </div>
  <div class="row justify-content-center">
    <NavLink class="col-5 dashboard-box" href="vetvisits" style="margin-bottom: 20px;">
      <h3><i class="fas fa-stethoscope"></i> Vet Visit</h3>
    </NavLink>
    <NavLink class="col-5 dashboard-box" href="incident" style="margin-left: 20px; margin-bottom: 20px;">
      <h3><i class="fas fa-notes-medical"></i> Incident</h3>
    </NavLink>
  </div>
  <div class="row justify-content-center">
    <NavLink href="vaccines" class="col-5 dashboard-box" style="margin-bottom: 20px;">
      <h3><i class="fas fa-vial"></i> Vaccines</h3>
    </NavLink>
    <NavLink href="Treatments" class="col-5 dashboard-box" style="margin-left: 20px; margin-bottom: 20px;">
      <h3><i class="fas fa-capsules"></i> Treatments</h3>
    </NavLink>
  </div>
  <div class="row justify-content-center">
    <NavLink href="documents" class="col-5 dashboard-box" style="margin-bottom: 20px;">
      <h3><i class="far fa-file-alt"></i> Documents</h3>
    </NavLink>
    <NavLink href="boarding" class="col-5 dashboard-box" style="margin-left: 20px; margin-bottom: 20px;">
      <h3><i class="fas fa-bed"></i> Boarding</h3>
    </NavLink>
  </div>
  <div class="row justify-content-center">
    <NavLink href="food" class="col-5 dashboard-box" style="margin-bottom: 20px;">
      <h3><i class="fas fa-utensils"></i> Food</h3>
    </NavLink>
    <NavLink class="col-5 dashboard-box" style="margin-left: 20px; margin-bottom: 20px;">
      <h3><i class="far fa-clock"></i> Tasks/Reminders</h3>
    </NavLink>
  </div>
  <div class="row justify-content-center">
    <NavLink href="insurance" class="col-5 dashboard-box" style="margin-bottom: 20px;">
      <h3><i class="fas fa-dog"></i> Insurance</h3>
    </NavLink>
    <NavLink href="payments" class="col-5 dashboard-box" style="margin-left: 20px; margin-bottom: 20px;">
      <h3><i class="far fa-credit-card"></i> Payments</h3>
    </NavLink>
  </div>
  <div class="row justify-content-center">
    <NavLink href="backup" class="col-12 dashboard-box" style="margin-bottom: 20px;">
      <h3><i class="fas fa-database"></i> Backup</h3>
    </NavLink>
  </div>
</div>