@page "/Insurance"
@inherits InsuranceBase
@using IModel = Models.Shared.InsuranceModel

<div class="container">
  <div class="row justify-content-center">
    <div class="col-auto">
      <h1>Insurance</h1>
    </div>
  </div>
  @if (ShowEditData)
  {
    <div class="row justify-content-start mt-1">
      <div class="col-12">
        <EditForm Model="Model" OnValidSubmit="HandleValidSubmit">
          <DataAnnotationsValidator />
          <ValidationSummary />
          <div class="row justify-content-start mt-1">
            <div class="col-12">
              <div class="form-group">
                <label>Company</label>
                <RadzenTextBox class="col-6" Style="display: block;" @bind-Value="Model.Company" />
              </div>
            </div>
          </div>
          <div class="row justify-content-start mt-1">
            <div class="col-12">
              <div class="form-group">
                <label>PolicyId</label>
                <RadzenTextBox class="col-6" Style="display: block;" @bind-Value="Model.PolicyId.Value" />
              </div>
            </div>
          </div>
          <div class="row justify-content-start mt-1">
            <div class="col-6">
              <div class="form-group">
                <label>Start Date</label>
                <RadzenDatePicker Style="display: block;" @bind-Value="Model.StartDateTime" DateFormat="MM/dd/yyyy" />
              </div>
            </div>
          </div>
          <div class="row justify-content-start mt-1">
            <div class="col-6">
              <div class="form-group">
                <label>End Date</label>
                <RadzenDatePicker Style="display: block;" @bind-Value="Model.EndDateTime" DateFormat="MM/dd/yyyy" />
              </div>
            </div>
          </div>
          <div class="row justify-content-start mt-1">
            <div class="col-6">
              <div class="form-group">
                <label>Renewal Date</label>
                <RadzenDatePicker Style="display: block;" @bind-Value="Model.RenewalDateTime" DateFormat="MM/dd/yyyy" />
              </div>
            </div>
          </div>
          <div class="row justify-content-start mt-1">
            <div class="col-12">
              <div class="form-group">
                <label>Payment Amount</label>
                <RadzenNumeric  class="col-6" TValue="decimal?" @bind-Value="Model.PaymentAmount" Placeholder="Enter or clear value" Style="display: block;" />
              </div>
            </div>
          </div>
          <div class="row justify-content-start mt-1">
            <div class="col-12">
              <div class="form-group">
                <label>Payment Frequency</label>
                <RadzenNumeric class="col-6" Disabled="true" TValue="TimeSpan?" @bind-Value="Model.PaymentFrequency" Placeholder="Enter or clear value" Style="display: block;" />
              </div>
            </div>
          </div>
          <div class="row justify-content-start mt-1">
            <div class="col-12">
              <div class="form-group">
                <label>Deductible Amount</label>
                <RadzenNumeric class="col-6" TValue="decimal?" @bind-Value="Model.DeductibleAmount" Placeholder="Enter or clear value" Style="display: block;" />
              </div>
            </div>
          </div>
          <div class="row justify-content-start mt-1">
            <div class="col-12">
              <div class="form-group">
                <label>Reimbursement Percentage</label>
                <RadzenNumeric class="col-6" TValue="int?" @bind-Value="Model.ReimbursementPercentage" Placeholder="Enter or clear value" Style="display: block;" />
              </div>
            </div>
          </div>
          <div class="row justify-content-start mt-1">
            <div class="col-12">
              <div class="form-group">
                <label>Annual Coverage Limit</label>
                <RadzenNumeric class="col-6" TValue="decimal?" @bind-Value="Model.AnnualCoverageLimit" Placeholder="Enter or clear value" Style="display: block;" />
              </div>
            </div>
          </div>
          @if (Model.InsuranceId != null && Model.InsuranceId.Value > 0)
          {
            <button type="submit" class="btn btn-primary mt-2 mb-2">Update</button>
            <button type="button" class="btn btn-secondary mr-3 mt-2 mb-2" @onclick="CancelEditData">Cancel</button>
            <button type="button" class="btn btn-danger mr-3 mt-2 mb-2 offset-3" @onclick="ShowInlineDialog">Delete</button>
          }
          else
          {
            <button type="submit" class="btn btn-primary mt-2 mb-2">Add</button>
            <button type="button" class="btn btn-secondary mr-3 mt-2 mb-2 offset-4" @onclick="CancelEditData">Cancel</button>
          }
        </EditForm>
      </div>
    </div>
  }
  @if (!ShowEditData)
  {
    <div class="row justify-content-start">
      <div class="col-auto">
        <button type="button" class="btn btn-outline-primary btn-md" @onclick="AddData">ADD DATA</button>
      </div>
    </div>
    <hr />
    <div class="row justify-content-start mt-1">
      <div class="col-12">
        <h3>Data</h3>
        <RadzenGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowPaging="true" PageSize="5"
                    AllowSorting="true" Data="@InsuranceModels" TItem="IModel">
          <Columns>
            <RadzenGridColumn Filterable="false" Sortable="false" TItem="IModel" Width="125px" Property="InsuranceId.Value" Title="Id">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="IModel" Property="Company" Title="Company" />
            <RadzenGridColumn TItem="IModel" Property="StartDateTime" Title="Start Date">
              <Template Context="data">
                @String.Format("{0:d}", data.StartDateTime)
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="IModel">
              <Template Context="data">
                <button type="button" class="btn btn-outline-secondary btn-sm" @onclick="(e) => EditData(e, data)">Edit</button>
              </Template>
              <FooterTemplate>
                Total Records: <b>@InsuranceModels.Count()</b>
              </FooterTemplate>
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  }
</div>
@code {
  async Task ShowInlineDialog() => await DialogService.OpenAsync("Are you sure?", ds =>
  @<div>
    <p Style="margin-bottom: 1rem">Are you sure you want to delete?</p>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Text="Yes" Click="() => ds.Close(true)" ButtonStyle="ButtonStyle.Danger" Style="margin-bottom: 10px; width: 150px" />
        <RadzenButton Text="Cancel" Click="() => ds.Close(false)" ButtonStyle="ButtonStyle.Secondary" Style="margin-bottom: 10px; width: 150px" />
      </div>
    </div>
  </div>);
}