@inherits MainLayoutBase

  <RadzenNotification />
  <RadzenDialog />
  <div class="main">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light">
        <h2><a class="navbar-brand" href="#">Benji World</a></h2>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="mx-4 navbar-nav">
            <NavLink href="#" class="nav-item nav-link">Home</NavLink>
            <NavLink href="dog" class="nav-item nav-link">Profile</NavLink>
            <NavLink href="documents" class="nav-item nav-link">Documents</NavLink>
            <NavLink href="health" class="nav-item nav-link">Health</NavLink>
            <NavLink href="incident" class="nav-item nav-link">Incidents</NavLink>
          </div>
        </div>
        <h3>@RelativeTimeA old</h3>
      </nav>
      <div class="content px-4  mb-4">
        @Body
      </div>
    </div>
  </div>
